
  <br><h3 class=" text-center">Management Portal</h3>

<div class="list-group" style="width:350px; margin-left:530px;">
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Driver Management</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Rider Management</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Staff</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Car Details</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Car Type Intercity</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Country Management</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Promo Code Managemnet</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Ride Management</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Reviews & Ratings</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Report</button>
        <button type="button" class="list-group-item list-group-item-action bg-dark text-light" style="opacity:0.8">Driver Settlement Management</button>
      </div>
     <br>